body, html {
  min-height: 100%;
  min-width: 100%;
}
body {
  background-color: white;
  height: 100vh;
  overflow-x: hidden;
  text-align: center;
  width: 100vw;
}
footer {
  height: 2vh;
  left: calc(50% - 10vw);
  position: absolute;
  text-align: center;
  top: 98vh;
  width: 20vw;
  z-index: 2;

  .admin {
    cursor: pointer;
    margin-left: 10px;
    text-decoration: underline;
  }
}
header {
  margin: 0 auto;
  position: relative;
  z-index: 2;

  h1 {
    margin-bottom: 20px;
  }
  img {
    margin-top: 50px;
    max-height: 100px;
    max-width: 100px;
  }
}

section.content {
  position: relative;
  z-index: 2;
}

.button-wrapper {
  width: 336px;
  margin: 10px auto;
}
.nav-button {
  float: left;
  margin-left: 10px;
  width: 150px
}
.tiny-space {
  position: absolute;
  z-index: 1;
}
