<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <meta name="description" content="Buy yourself some beautiful watercolor tiny spaces.">
    <meta property="og:title" content="Tiny Spaces"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://i.imgur.com/o3ovXSL.jpg"/>
    <meta property="og:url" content="http://tinyspaces.me"/>
    <meta property="og:description" content="Buy yourself some beautiful watercolor tiny spaces."/>
    <title>Tiny Spaces</title>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <!-- include: "type": "css", "files": "**/*.css" -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- include: "type": "js", "files": ["res/*.js", "js/*.js"] -->
    <!-- include: "type": "js", "files": ["index.js", "**/*.module.js", "views/*.js", "models/*.js"] -->
    <!-- templates -->
  </head>
  <body>
    <header>
      <h1>Tiny Spaces</h1>
      <h3>With ❤ from Kelsey Peterson</h3>
      <a href="https://www.facebook.com/mytinyspaces" target="_blank"><img src="res/img/fb.png"></a>
    </header>
  </body>
</html>
