<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    <meta charset="UTF-8">
    <title>Tiny Spaces</title>
    <script src="//localhost:1340/livereload.js"></script>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
    <!-- include: "type": "css", "files": "**/*.css" -->
    <!-- bower:js -->
    <!-- endbower -->
    <!-- include: "type": "js", "files": ["res/*.js", "js/*.js"] -->
    <!-- include: "type": "js", "files": ["index.js", "**/*.module.js", "views/*.js", "models/*.js"] -->
    <!-- templates -->
  </head>
  <body>
    <header>
      <h1>Tiny Spaces</h1>
      <h3>With ❤ by Kelsey Peterson</h3>
      <a href="https://www.facebook.com/mytinyspaces" target="_blank"><img src="res/img/fb.png"></a>
    </header>
  </body>
</html>
