<div class="order">
  <div class="input-wrapper">
    <div class="input-heading">Name</div>
    <input type="text" placeholder="Spacey Space" data-type="name" autofocus>
  </div>
  <div class="input-wrapper">
    <div class="input-heading">Address (Full)</div>
    <input type="text" placeholder="42 Milky Way Drive, Virgo Supercluster 12345 Universe" data-type="address">
  </div>
  <div class="input-wrapper">
    <div class="input-heading">Email</div>
    <input type="text" placeholder="thanos@infinitygauntlet.com" data-type="email">
  </div>
  <div class="input-wrapper">
    <div class="input-heading">Write your request here. Have an idea for an awesome space that doesn't exist yet? Describe it!</div>
    <textarea type="text" placeholder="A giant... space thingy. That's blue. And cool." data-type="description"></textarea>
  </div>
  <div class="submit" data-space-id={{_id}}>Send Request</div>
  <div class="status"></div>
</div>
